name: Backend CD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
<<<<<<< HEAD
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd ~/django-backend
            source venv/bin/activate
            git pull origin main
            pip install -r requirements.txt
            sudo systemctl restart gunicorn || true
=======
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /home/ubuntu/django-backend
            git pull origin main
            source venv/bin/activate
            pip install -r requirements.txt
            python manage.py migrate
            sudo systemctl restart gunicorn || true

>>>>>>> b64b038 (Add working backend CD pipeline)
